body {
    padding-left: 14%;
    padding-right: 14%;
    font-family: "Noto Sans JP";
    /*padding-bottom: 128px;*/
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}
